{% extends "layout.html" %}

{% block main %}<table class="table">
<tbody>
<tr>
<td>Name</td><td>Surname</td><td>Email</td><td>Registered with England Touch</td><td>Available 7th of Feb</td><td> Available 14th Feb</td><td> Available 21st Feb</td></tr>
<tr>
<td>Last chance</td><td>wokrywokr</td><td>catlow.alex@gmail.com</td><td>yes</td><td>Available</td><td>Unavailable</td><td>Available</td></tr>
<tr>
<td>Please</td><td>Catlow</td><td>letthis.work@gmail.com</td><td>yes</td><td>Available</td><td>Available</td><td>Available</td></tr>
<tr>
<td>Please</td><td>Catlow</td><td>letthis.work@gmail.com</td><td>yes</td><td>Available</td><td>Available</td><td>Available</td></tr>
<tr>
<td>alex</td><td>Catlow</td><td>catlow.alex@gmail.com</td><td>yes</td><td>Unavailable</td><td>Available</td><td>Available</td></tr>
<tr>
<td>Alex</td><td>Catlow</td><td>catlow.alex@gmail.com</td><td>yes</td><td>Available</td><td>Available</td><td>Available</td></tr>
<tr>
<td>Alex</td><td>wokrywokr</td><td>catlow.alex@gmail.com</td><td>yes</td><td>Available</td><td>Available</td><td>Available</td></tr>
<tr>
<td>Alex</td><td>HAMER</td><td>catlow.alex@gmail.com</td><td>Yes</td><td>Available</td><td>Unavailable</td><td>Available</td></tr>
<tr>
<td>Alex</td><td>amy</td><td>catlow.alex@gmail.com</td><td>Yes</td><td>Unavailable</td><td>Unavailable</td><td>Available</td></tr>
<tr>
<td>Alex</td><td>Catlow</td><td>catlow.alex@gmail.com</td><td>Yes</td><td>Unavailable</td><td>Available</td><td>Available</td></tr>
<tr>
<td>Alex </td><td>Catlow </td><td>catlow.alex@gmail.com</td><td>Yes</td><td>Available</td><td>Available</td><td>Available</td></tr>
</tbody></table>
{% endblock %}